## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mice_df = pd.merge(mouse_metadata, study_results)
# Display the data table for preview
mice_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Checking the number of mice.
mice_df["Mouse ID"].nunique()

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicated = mice_df[mice_df[["Mouse ID", "Timepoint"]].duplicated()]
duplicated

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [4]:
# Optional: Get all the data for the duplicate mouse ID.
# mice_df["Mouse ID"] == "g989" Line below syntax 
dupe = mice_df[mice_df["Mouse ID"] == "g989"]
dupe

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [26]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# create new df with previous df and use .drop to clean list (also don't forgot .nunique ex line 7)
# possible to use .index
dupe_index = mice_df[mice_df['Mouse ID'] == 'g989'].index
cleaned_mice_df = mice_df.drop(dupe_index)
dupe_index
cleaned_mice_df

1880

In [6]:
# Checking the number of mice in the clean DataFrame.
cleaned_mice_df["Mouse ID"].nunique()

248

In [7]:
cleaned_mice_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

## Summary Statistics

In [59]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# grouped_usa_df = usa_ufo_df.groupby(['state'])
grouped_regimen = cleaned_mice_df.groupby(['Drug Regimen'])
# Assemble the resulting series into a single summary dataframe.
# grouped_regimen.count().head(20)
mean = grouped_regimen['Tumor Volume (mm3)'].mean()
median = grouped_regimen['Tumor Volume (mm3)'].median()
var = grouped_regimen['Tumor Volume (mm3)'].var()
std = grouped_regimen['Tumor Volume (mm3)'].std()
sems = grouped_regimen['Tumor Volume (mm3)'].sem
grouped_regimen["Drug Regimen"].count()

Drug Regimen
Capomulin    230
Ceftamin     178
Infubinol    178
Ketapril     188
Naftisol     186
Placebo      181
Propriva     148
Ramicane     228
Stelasyn     181
Zoniferol    182
Name: Drug Regimen, dtype: int64

In [72]:
cleaned_mice_df.groupby(['Drug Regimen'])['Tumor Volume (mm3)'].agg(['mean','median'])

                   mean     median
Drug Regimen
Capomulin     40.675741  41.557809
Ceftamin      52.591172  51.776157
Infubinol     52.884795  51.820584
Ketapril      55.235638  53.698743
Naftisol      54.331565  52.509285
Placebo       54.033581  52.288934
Propriva      52.320930  50.446266
Ramicane      40.216745  40.673236
Stelasyn      54.233149  52.431737
Zoniferol     53.236507  51.818479

In [60]:
grouped_regimen["Tumor Volume (mm3)"].describe()

,count,mean,std,min,25%,50%,75%,max
Drug Regimen,,,,,,,,
Capomulin,230.0,40.675741,4.994774,23.343598,37.685933,41.557809,45.000000,48.158209
Ceftamin,178.0,52.591172,6.268188,45.000000,47.208427,51.776157,56.801438,68.923185
Infubinol,178.0,52.884795,6.567243,36.321346,47.312353,51.820584,57.314444,72.226731
Ketapril,188.0,55.235638,8.279709,45.000000,48.232987,53.698743,60.870951,78.567014
Naftisol,186.0,54.331565,8.134708,45.000000,47.285874,52.509285,59.963034,76.668817
Placebo,181.0,54.033581,7.821003,45.000000,47.459053,52.288934,59.916934,73.212939
Propriva,148.0,52.320930,6.622085,45.000000,46.894328,50.446266,56.491585,72.455421
Ramicane,228.0,40.216745,4.846308,22.050126,36.674635,40.673236,45.000000,47.622816
Stelasyn,181.0,54.233149,7.710419,45.000000,48.047139,52.431737,58.719297,75.123690
Zoniferol,182.0,53.236507,6.966589,45.000000,47.337876,51.818479,57.954259,73.324432

In [76]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
summary_df = pd.DataFrame({"Mean": mean, "Median": median, "Variance": var, "Std Deviation": std, "SEM": summary_df.sem(axis = 1, skipna = False)})
# summary_df = pd.DataFrame({"Mean": mean, "Median": median, "Variance": var, "Std Deviation": std, "SEM": sems})

# summary_df.sem(axis = 1, skipna = False)
summary_df


# sems = [sem(r.Mean) for r in summary_df]
# # Calculate means
# means = [s.MEDV.mean() for s in samples]
# # Calculate standard error on means
# sems = [sem(s.MEDV) for s in samples]
# Using the aggregation method, produce the same summary statistics in a single line
# use .agg
# cleaned_mice_df.groupby(['Drug Regimen'])['Tumor Volume (mm3)'].agg(['mean','median','var','std','sem'])

                   Mean     Median   Variance  Std Deviation        SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764       4.994774   7.782834
Ceftamin      52.591172  51.776157  39.290177       6.268188  10.032309
Infubinol     52.884795  51.820584  43.128684       6.567243  10.177724
Ketapril      55.235638  53.698743  68.553577       8.279709  12.267045
Naftisol      54.331565  52.509285  66.173479       8.134708  11.919009
Placebo       54.033581  52.288934  61.168083       7.821003  11.429459
Propriva      52.320930  50.446266  43.852013       6.622085  10.043960
Ramicane      40.216745  40.673236  23.486704       4.846308   7.658956
Stelasyn      54.233149  52.431737  59.450562       7.710419  11.307375
Zoniferol     53.236507  51.818479  48.533355       6.966589  10.449819

In [77]:
# use .agg
cleaned_mice_df.groupby(['Drug Regimen'])['Tumor Volume (mm3)'].agg(['mean','median','var','std','sem'])

                   mean     median        var       std       sem
Drug Regimen
Capomulin     40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479  8.134708  0.596466
Placebo       54.033581  52.288934  61.168083  7.821003  0.581331
Propriva      52.320930  50.446266  43.852013  6.622085  0.544332
Ramicane      40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355  6.966589  0.516398

In [81]:
summary_df.sem(axis = 1, skipna = False)

Drug Regimen
Capomulin     7.782834
Ceftamin     10.032310
Infubinol    10.177724
Ketapril     12.267046
Naftisol     11.919009
Placebo      11.429459
Propriva     10.043960
Ramicane      7.658956
Stelasyn     11.307375
Zoniferol    10.449819
dtype: float64

## Bar and Pie Charts

In [11]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [12]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [13]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [14]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [15]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [16]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [17]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [18]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [19]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [20]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen